.App {
  /*text-align: center;*/
  padding: 2rem;
}

.tableBig{
  display: flex;
}

.card{
  width: 25rem;
  margin-left: 2rem;
}

.d3graph{
  display: flex;
  margin-top: 3rem;
  margin-left: 1rem;
}

.d3block{
  margin-top: 3rem;
}